<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingNoSecurity" openTimeout="00:30:00" receiveTimeout="00:30:00"
          sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="GatewayAgent.CommandCollectService">
        <endpoint address="net.tcp://localhost:5444/CommandCollectService" binding="netTcpBinding" contract="Protocal.ICommandCollectService" bindingConfiguration="tcpBindingNoSecurity"></endpoint>
      </service>
    </services>
  </system.serviceModel>

</configuration>