<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="user" value="Robert"/>
    <add key="pwd" value="Huhuabo43"/>
    <add key="loginID" value="huhuabo111"/>
    <add key="loginPwd" value="duoduo520"/>
    <add key="useProxy" value="1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
